


<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()" >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="transactions">
      <ion-icon [name]="selectedTab == 'transactions' ? 'wallet' : 'wallet-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="card">
      <ion-icon [name]="selectedTab == 'card' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon [name]="selectedTab == 'settings' ? 'settings' : 'settings-outline'"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button tab="youtubes">
      <ion-icon [name]="selectedTab == 'youtubes' ? 'caret-forward-circle-outline' : 'caret-forward-circle-outline'"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>