 
.bg{
    background-color: white;
    h4{
        border-radius: 10px;
        margin: 1px;
        z-index: 999;
        padding: 9px;
    }
}
 
 .formGroup {
    border: 1 px solid red !important; 
  }
//   .input-wrapper.sc-ion-input-md input.sc-ion-input-md {
//     margin: 10px !important;
//   }
 