<ion-header>
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto mt-4">
        <div class="card shadow">
          <div class="card-header bg-primary">
            <h3 class="text-light">Add New User</h3>
          </div>
          <div class="card-body p-4">
     

              <form [formGroup]="addForm" (ngSubmit)="submitForm()">
                <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <div *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched" class="error">
                  Name is required
                </div>
            
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>
                <div *ngIf="addForm.get('email')?.invalid && addForm.get('email')?.touched" class="error">
                  Valid email is required
                </div>
            
                <ion-item>
                  <ion-label position="floating">Phone</ion-label>
                  <ion-input formControlName="phone" type="tel"></ion-input>
                </ion-item>
                <div *ngIf="addForm.get('phone')?.invalid && addForm.get('phone')?.touched" class="error">
                  Phone is required
                </div>
            


                <div class="container">
                  <ion-item>
                  
                    <ion-label position="">Select Image</ion-label>
                    <input type="file" (change)="onFileChange($event)" accept="image/*" />
                  </ion-item>
                  <div *ngIf="fileError" class="error">
                    Image is required
                  </div>
                </div>
             
            
                <ion-button expand="block" type="submit" [disabled]="addForm.invalid || !selectedFile">Add</ion-button>
              </form>
            
           
            
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
